.about-me-container {
    color: var(--text-light);
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: calc(100vh);
    position: relative;

    .image-container {
        position: absolute;
        top: 0;
        height: 100%;
        display: flex;
        align-items: center;
        right: 0;
        opacity: 1;
        z-index: -1;

        svg {
            margin-top: 150px;
        }
    }

    h1 {
        width: max-content;
        border-bottom: 2px solid var(--text-light);
        margin-bottom: 50px;
        font-size: 50px;
        color: var(--light);

        .green {
            border-bottom: 2px solid var(--accent);
        }
    }

    .line {
        line-height: 150%;
        margin: 30px 0;

        .green {
            font-size: 120%;
            line-height: 120%;
        }
    }

    .svg-green-fill {
        fill: var(--accent);
        transition-duration: 200ms;
        opacity: 0.5;
    }

    .svg-green-stroke {
        stroke: var(--accent);
        transition-duration: 200ms;
        opacity: 0.5;
    }

    .icons {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 30px;
        margin: 0 0 75px 0;

        svg {
            width: 35px;
            height: 35px;
            transition-duration: 200ms;
        }

        .icon {
            transition-duration: 200ms;
        }
    }

    .icons:hover {
        .icon:not(:hover) {
            opacity: 0.08;
        }
        .icon {
            opacity: 0.8;
        }
    }


    .icon:hover {
        transform: scale(2);
        .svg-green-fill {
            opacity: 1;
        }

        .svg-green-stroke {
            opacity: 1;
        }
    }

    .light-green {
        color: var(--accent-text);
    }

}

text {
    opacity: 0.05;
    cursor: pointer;
    transition-duration: 200ms;
    filter: grayscale(75%) blur(1px);
}

.image-container.colorize {
    text {
        opacity: 0.05;
        fill: var(--text-light);
        filter: grayscale(100%) blur(2px);
        transition-duration: 200ms;

        &.selected {
            opacity: 1;
            fill: var(--accent) !important;
            font-size: 80px !important;
            filter: grayscale(0%) blur(0px);
        }
    }
}



@media (max-width: 768px) {
    text {
        opacity: 0.05;
        cursor: pointer;
        transition-duration: 200ms;
        filter: grayscale(75%) blur(1px);
    }

    .about-me-container {

        .image-container {
            position: absolute;
            top: 220px;
            height: unset;
            display: flex !important;
            align-items: center;
            justify-content: flex-end;
            right: 0;
            opacity: 1;
            z-index: -1;

            svg {
                margin-top: 0px !important;
            }
        }

    }

    .image-container.colorize {
        text {
            opacity: 0.025;
            fill: var(--text-light);
            filter: grayscale(100%) blur(2px);
            transition-duration: 200ms;

            &.selected {
                opacity: 0.8;
                fill: var(--accent) !important;
                font-size: 80px !important;
                text-shadow: 0px 0px 2px 5px var(--bg);
                filter: grayscale(0%) blur(0px);
            }
        }
    }

}