.contact-container {
    width: 100%;
    max-width: 1440px;
    min-height: 100vh;
    color: var(--text-light);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.contact-form {
    width: 100%;
    height: calc(100% - 80px);
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 350px;
}

label {
    color: var(--accent);
    font-size: 14px;
}

input,
textarea {
    background-color: transparent;
    border: 1px solid var(--accent);
    color: var(--text-light);
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 10px;
}

.btn-primary {
    width: 200px;
    background-color: var(--accent);
    border: none;
    color: var(--text-dark);
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
    cursor: pointer;
}

.sending {
    background-color: #aad0c3;
}

.sent {
    background-color: var(--accent);
}

.error {
    background-color: tomato;
}