.center {
    display: flex;
    justify-content: center;
    align-self: center;
}

.navigation-container {
    position: fixed;
    top: calc(50% - 160px);
    right: 3px;
    background-color: var(--bg);
    padding: 30px 12px;
    border-radius: 20px;
    gap: 20px;
    border: 2px solid var(--text-dark);
    transition-duration: 200ms;
    z-index: 10;

    @extend .center;
    flex-direction: column;
    align-items: flex-start;

    .text {
        transition-duration: 200ms
    }

    a {
        @extend .center;
        text-decoration: none;
        color: var(--light);
        width: 100%;
        display: flex;
        gap: 10px;

        mat-icon {
            transition-duration: 200ms;
            @extend .center;
            font-size: 20px;
            border-bottom: 2px solid transparent;
        }

        .text {
            width: 80px;
        }
    }

    a.active {
        color: var(--accent);
        border-bottom: 2px solid var(--accent);

        mat-icon {
            transform: scale(1.4);
        }
    }

    a:hover {
        mat-icon {
            color: var(--light);
            transform: scale(1.4);
        }

        .text {
            transform: scale(1.1);
        }
    }
}

.navigation-container:hover {
    border: 2px solid var(--accent);
}

@media (max-width: 768px) {
    .navigation-container {
        bottom: 0;
        left: 0;
        top: unset;
        right: unset;
        padding: 15px 10px;
        border-radius: 2px;
        width: 100%;

        display: flex;
        flex-direction: row;
        height: max-content;

        a.active {
            color: var(--accent);
            border-bottom: none;
    
            mat-icon {
                transform: scale(1.4);
            }
        }
    }

    .navigation-container:hover {
        border: none;
    }
}