<div class="home-container">
    <div class="image-container">
        <img src="assets/developer.png" alt="Developer">
    </div>
    <div class="home-content">
        <h1 class="name">
            <span class="green">{{name}}</span>
        </h1>
        <h2 class="dark">
            <span class="green">Full Stack Developer</span> and <span class="green">UI/UX Designer</span> based in <span
                class="green">Pune, India</span>.
        </h2>
        <h4 class="light">I <span class="green">code</span> and <span class="green">design</span> beautiful and creative
            experiences for <span class="green">websites</span> and <span class="green">apps</span>.</h4>

        <div class="social-container">
            <a href="https://github.com/phoenixSaket" target="_blank"><img class="icon" src="assets/github.svg"
                    alt="Github"></a>
            <a href="https://www.linkedin.com/in/developer-saket-verma/" target="_blank"><img class="icon"
                    src="assets/linkedin.svg" alt="LinkedIn"></a>
        </div>

        <div class="experience-container">
            <div class="experience">
                <div class="content">
                    <h2 class="green">{{year}}</h2>
                    <h3 class="dark">Years</h3>
                </div>
                <div class="content">
                    <h2 class="green">{{month}}</h2>
                    <h3 class="dark">Months</h3>
                </div>
                <div class="content">
                    <h2 class="green">{{days}}</h2>
                    <h3 class="dark">Days</h3>
                </div>
                <h5 class="light">of experience.</h5>
            </div>
        </div>
    </div>
</div>