.center {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home-container {
    color: var(--light);
    @extend .center;
    gap: 50px;
    width: 100%;
    max-width: 1440px;
    min-height: 100vh;

    .image-container {
        width: 40%;
        // max-width: 400px;
        height: auto;
        z-index: -1;

        img {
            width: 100%;
            height: auto;
            opacity: 0.7;
            z-index: -10;

            animation: cycle 100s infinite;
        }
    }

    .home-content {
        width: 60%;
        z-index: 1;

        .name {
            transition-duration: 16ms;
            display: flex;
            justify-content: center;
        }

    }

    .light {
        color: var(--text-light);
    }

    .dark {
        color: var(--text-dark);
    }

    .social-container {
        display: flex;
        gap: 20px;
        align-items: center;
        margin-top: 50px;

        .icon {
            width: 40px;
            height: 40px;
            background-color: var(--accent);
            padding: 5px;
            border-radius: 10px;
            transition-duration: 200ms;
            box-shadow: 2px 2px var(--text-dark);
            opacity: 0.6;
        }

        .icon:hover {
            background-color: var(--accent);
            opacity: 1;
        }
    }

    .experience {
        display: flex;
        align-items: baseline;
        gap: 7.5px;
        margin-top: 50px;
        font-size: 150%;

        .content {
            display: flex;
            gap: 5px;
            align-items: baseline;
        }
    }

    @keyframes cycle {
        0% {
            filter: hue-rotate(0deg);
        }

        50% {
            filter: hue-rotate(360deg);
        }

        100% {
            filter: hue-rotate(0deg);
        }
    }

}

@media screen and (max-width: 768px) {
    .home-container {
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .image-container {
        z-index: -1;
        opacity: 0.05;
        position: absolute;
        right: 0;
        width: 100% !important;

        img {
            width: 100%;
            height: auto;
            opacity: 0.3;
            z-index: -10;

            animation: cycle 100s infinite;
        }
    }

    .home-content {
        width: 100% !important;
        z-index: 1 !important;
        width: 100% !important;
        display: flex;
        z-index: 1;
        flex-direction: column;
        justify-content: center;
    }

    .experience {
        flex-wrap: wrap;
    }
   
}